/* Color Pallete
Accent
#fe938c
Soft peach
#e6b89c
light peach
#ead2ac
highlight blue
#9cafb7
background blue
#4281a4
 */
ul { margin: 0; padding: 0; list-style-type: none; font-size:50px;}
li > * { padding: 1em; }
li.active > a { color: #5e5e5e; border-bottom: 2px solid #4a4a4a; }
form { display: flex; }
label > input { width: 3em; }
form > * { padding-right: 1em; }
#result { font-weight: bold; }
.slider {
	-webkit-appearance: none;
	width: 50%;
	height: 75px;
	border-radius: 30px;
	background: #9cafb7;
	padding: 10px;
	outline: none;
	opacity: 0.7;
	-webkit-transition: .2s;
	transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 100px;
	height:100px;
	border-radius: 50%; 
	background: #4CAF50;
	cursor: pointer;
}

.slider::-moz-range-thumb {
	width: 100px;
	height:100px;
	border-radius: 50%;
	background: #9cafb7;
	cursor: pointer;
}
body {
	background: #4281a4;
}

label {
	color: #e6b89c;
	font-size: 32pt;
}

#onButton {
	position: sticky; 
	font-size: 100pt; 
	bottom: 10%; 
	height:25%; 
	width: 100%;
}
#offButton {
	position: sticky; 
	font-size: 100pt; 
	bottom: 0%; 
	height:25%; 
	width: 100%;
}
input[type=checkbox] {
	margin: 200px 200px 200px 200px;
	-ms-transform: scale(20); /* IE */
	-moz-transform: scale(20); /* FF */
	-webkit-transform: scale(20); /* Safari and Chrome */
	-o-transform: scale(20); /* Opera */
}
