<!doctype html>
<title>{% block title %}{% endblock %} Alaunus</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="shortcut icon" href="{{ url_for('static', filename='lamp.ico') }}">
<nav>
  <h1>LED Tickler V.0.0.1</h1>
</nav>
<style>
.button {
    height: 600px;
    width: 100%;
    font-size: 100px;
}
</style>
<body>
  <script type=text/javascript src="{{
  url_for('static', filename='js/main.js') }}"></script>
	<p><a href=https://open.spotify.com/user/alexander.mckeever/playlist/6Fq1dpOYzcEwclxZddEI6X?si=mQ9bouRISVW7XN6BiCxMSA>Add to The Queue</a></p>
  <input type="range" min="5" max="30" id="tippct" oninput="updateSlider(); calculateTotal(this);"> <span id="tipval"></span>
  <form action="/turnon/" method="post">
      <button class="button" type="submit">Turn on!</button>
  </form>
  <form action="/turnoff/" method="post">
      <button class="button" type="submit">Turn off</button>
  </form>
</body>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>
