<!doctype html>
<title>{% block title %}{% endblock %} Alaunus</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="shortcut icon" href="{{ url_for('static', filename='lamp.ico') }}">
<nav>
  <h1>LED Tickler V.0.0.1</h1>
</nav>
<style>
.button {
    height: 600px;
    width: 100%;
    font-size: 100px;
}
</style>
<body>
  <form action="/turnon/" method="post">
      <button class="button" type="submit">Turn on!</button>
  </form>
  <form action="/turnoff/" method="post">
      <button class="button" type="submit">Turn off</button>
  </form>
</body>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>
