<!doctype html>
<title>LED Master Control</title>
<link rel="stylesheet" type="text/css" href=/static/styles.css>
<style>
ul { margin: 0; padding: 0; list-style-type: none; }
li > * { padding: 1em; }
li.active > a { color: #5e5e5e; border-bottom: 2px solid #4a4a4a; }
form { display: flex; }
label > input { width: 3em; }
form > * { padding-right: 1em; }
#result { font-weight: bold; }
.slider { width: 10em; }
</style>
<h1 id="headTitle">LED Master Control Panel</h1>
<hr>
<p>{% block intro %}{% endblock %}</p>
<hr>
<button type="button">Turn on</button>
<button type="button">Turn off</button>
<div>
	<label>time:  <input id="timeSlider"  type="range" class="slider" min="1" max="100" value=1></label>
</div>
<div id="colorSelect">
	<label>RED:  <input id="redSlider"  type="range" class="slider" min="0" max="255" value=0></label>
	<label>GREEN: <input id="greenSlider" type="range" class="slider" min="0" max="255" value=0></label>
	<label>BLUE: <input id="blueSlider" type="range" class="slider" min="0" max="255" value=0></label>
	<div id="colorBox" style="background: #000000; height: 10px;"></div>
</div>

<div id="checkboxes">
	<label>LED Cycles</label>
	<ul>
		<li><input type="checkbox"> Fade</li>
		<li><input type="checkbox"> RainbowCycle</li>
		<li><input type="checkbox"> RainbowTheatre</li>
		<li><input type="checkbox"> Rainbow</li>
	</ul>
</div>
{% block script %}{% endblock %}
