<!doctype html>
<title>LED Master Control</title>
<link rel="shortcut icon" href="{{ url_for('static', filename='lamp.ico') }}">
<link rel="stylesheet" type="text/css" href="/static/styles.css?version=74">
<div id="serverIP">Minecraft Server IP: 54.39.169.19:25625</div>
<h1 id="headTitle">LED Master Control Panel</h1>
<button id="onButton" type="button" onclick="turnOn()">Turn on</button>
<button id="offButton" type="button" onclick="turnOff()">Turn off</button>
<!-- Rounded switch -->
<hr>
<p>{% block intro %}{% endblock %}</p>
<hr>
<div>
	<label>TIME:  <input id="timeSlider"  type="range"  class="slider" min="1" max="2000" value=1></label>
</div>
<div>
	<label>RED:  <input id="redSlider"  type="range"  class="slider" min="0" max="255" value=0></label>
</div>
<div>
	<label>GREEN: <input id="greenSlider" type="range"  class="slider" min="0" max="255" value=0></label>
</div>
<div>
	<label>BLUE: <input id="blueSlider" type="range"  class="slider" min="0" max="255" value=0></label>
</div>
<div id="colorBox" style="background: #000000; height: 10px;"></div>

<div id="checkboxes">
	<div><input id="customColorCheckBox" type="checkbox"> Custom Color</div>
	<div><input id="fadeCheckBox" type="checkbox"> Color Fade</div>
	<div><input id="simpleWaveCheckBox" type="checkbox"> Simple wave</div>
	<div><input id="spreadoutCheckBox" type="checkbox"> Spreadout</div>
	<div><input id="theaterChaseRainbowCheckBox" type="checkbox"> Theater Chase Rainbow</div>
	<div><input id="rainbowCheckBox" type="checkbox"> Rainbow</div>
	<div><input id="rainbowCycleCheckBox" type="checkbox"> Rainbow cycle</div>
</div>
{% block script %}{% endblock %}
