{% extends 'base.html' %}

{% block script %}
<script src="https://unpkg.com/promise-polyfill@7.1.2/dist/polyfill.min.js"></script>
<script src="https://unpkg.com/whatwg-fetch@2.0.4/fetch.js"></script>
<script>
    const timeSlider = document.getElementById("timeSlider");
    timeSlider.addEventListener('input', updateSlider);

    const redSlider = document.getElementById("redSlider");
    redSlider.addEventListener('input', updateSlider);

    const greenSlider = document.getElementById("greenSlider");
    greenSlider.addEventListener('input', updateSlider);

    const blueSlider = document.getElementById("blueSlider");
    blueSlider.addEventListener('input', updateSlider);

    const customColorCheckBox = document.getElementById("customColorCheckBox");
    customColorCheckBox.addEventListener('input', updateCheckBox);

    const fadeCheckBox = document.getElementById("fadeCheckBox");
    fadeCheckBox.addEventListener('input', updateCheckBox);

    const simpleWaveCheckBox = document.getElementById("simpleWaveCheckBox");
    simpleWaveCheckBox.addEventListener('input', updateCheckBox);

    const spreadoutCheckBox = document.getElementById("spreadoutCheckBox");
    spreadoutCheckBox.addEventListener('input', updateCheckBox);

    const theaterChaseRainbowCheckBox = document.getElementById("theaterChaseRainbowCheckBox");
    theaterChaseRainbowCheckBox.addEventListener('input', updateCheckBox);

    const rainbowCheckBox = document.getElementById("rainbowCheckBox");
    rainbowCheckBox.addEventListener('input', updateCheckBox);

    const rainbowCycleCheckBox = document.getElementById("rainbowCycleCheckBox");
    rainbowCycleCheckBox.addEventListener('input', updateCheckBox);

    function updateSlider(){
    	const colorBox = document.getElementById("colorBox");
        colorBox.style.background = `rgb(${redSlider.value}, ${greenSlider.value}, ${blueSlider.value})`;
	fetch({{ url_for('showSlide')|tojson }}, {
	    method: 'POST',
	    body: `${this.id} ${this.value}`
	});
    }

    function updateCheckBox(){
	const numBool = this.checked ? 1 : 0;
	fetch({{ url_for('showSlide')|tojson }}, {
	    method: 'POST',
	    body: `${this.id} ${numBool}`
	});
    }
    function turnOn() {
        fetch({{ url_for('turnOn')|tojson }}, {
            method: 'POST',
        });
    }

    function turnOff() {
        fetch({{ url_for('turnOff')|tojson }}, {
            method: 'POST',
        });
    }

    function addSubmit(ev) {
        ev.preventDefault();
        fetch({{ url_for('add')|tojson }}, {
            method: 'POST',
            body: new FormData(this)
        })
            .then(parseJSON)
            .then(addShow);
    }

    function parseJSON(response) {
        return response.json();
    }

    function addShow(data) {
        var span = document.getElementById('result');
        span.innerText = data.result;
    }

var form = document.getElementById('calc');
form.addEventListener('submit', addSubmit);
</script>
{% endblock %}
